{% extends 'show/base.html' %}
{% load static %}
{% block js-header %}
    {#    <script src="{% static 'show/js/jquery.min.js' %}" type="text/javascript"></script>#}

    <script src="{% static 'show/js/blog_show.js' %}"></script>
    <script src="{% static 'show/js/gallery_rcmd.js' %}"></script>
{% endblock %}
{% block content %}
    <article>
        <div class="l_box">
            <div class="about_me">
                <img src="{% static 'show/imgs/avatar.png' %}">
            </div>
            <div class="wdxc">
                {% if request.user.is_superuser %}
                    <h2>我的相册</h2>
                    <ul id="gallery-top">
                    </ul>
                {% endif %}

            </div>
            <div class="search">
                <form action="{% url 'haystack_search' %}" method="get" name="searchform" id="searchform">
                    <input name="q" id="keyboard" class="input_text" placeholder="请输入关键字词"
                           style="color: rgb(153, 153, 153);"
                        type="text">
                    <input name="Submit" class="input_submit" value="搜索" type="submit">
                </form>
            </div>
            <div class="fenlei">
                <h2>文章分类</h2>
                <ul id="category">
                </ul>
            </div>
            <div class="tuijian">
                <h2>站长推荐</h2>
                <ul id="rcmd_blog">
                </ul>
            </div>
            {#            <div class="links">#}
            {#                <h2>友情链接</h2>#}
            {#                <ul>#}
            {#                    <a href="http://www.yangqq.com">杨青个人博客</a> <a href="http://www.yangqq.com">杨青博客</a>#}
            {#                </ul>#}
            {#            </div>#}
            <div class="guanzhu">
                <h2>么么哒</h2>
                <ul>
                    <img src="../../static/show/images/wx.jpg">
                </ul>
            </div>
        </div>

        {% block r_box %}

        {% endblock %}
    </article>
{% endblock %}
