{% extends 'show/base_index.html' %}
{% load static %}

{% block css %}

    {#    <link href="{% static 'show/css/infopic.css' %}" rel="stylesheet">#}
    <link href="{% static 'show/css/m.css' %}" rel="stylesheet">
{% endblock %}
{% block r_box %}
    <div class="r_box">
        {% for foo in data %}
            <li><i><a href="{% url 'blog:blog_show' foo.id %}">
                <img src="{{ foo.article_img }}"></a></i>
                <h3><a href="{% url 'blog:blog_show' foo.id %}">{{ foo.article_title }}</a></h3>
                <p>{{ foo.article_commend }}</p>
            </li>
        {% endfor %}
        <div class="pagelist">
            <a class="allpage"><i>总页数:</i>&nbsp;&nbsp;&nbsp;<b>{{ total_page }}</b></a>&nbsp;&nbsp;
            {% if previous %}
                <a href="{% url 'gallery:gallery' %}?page={{ previous_url }}">上一页</a>
            {% else %}
                <a>上一页</a>
            {% endif %}
            {% for foo in page_nums %}
                {% if foo == current_page %}
                    <a class="curPage">{{ foo }}</a>&nbsp;&nbsp;
                {% else %}
                    <a href="{% url 'gallery:gallery' %}?page={{ foo }}">{{ foo }}</a>&nbsp;&nbsp;
                {% endif %}
            {% endfor %}
            {% if next %}
                <a href="{% url 'gallery:gallery' %}?page={{ next_url }}">下一页</a>
            {% else %}
                <a>下一页</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
