{% extends 'show/base.html' %}
{% load  static %}
{% block css %}

    <link href="{% static 'show/css/infopic.css' %}" rel="stylesheet">
    <link href="{% static 'show/css/m.css' %}" rel="stylesheet">
{% endblock %}
{% block js-header %}
    {#    <script src="{% static 'show/js/jquery.min.js' %}" type="text/javascript"></script>#}
    <script src="{% static 'show/js/piccontent.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'show/js/gallery_rcmd.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="{% static 'show/js/like.js' %}"></script>
{% endblock %}
{% block content %}
    <article>
        <div class="l_box">
            <div class="about_me">
                {#                <h2>关于我</h2>#}
                {#                <ul>#}
                <img src="{% static 'show/imgs/avatar.png' %}" style="height: 100%">
                {#                </ul>#}
            </div>
            <div class="wdxc">
                <h2>我的相册</h2>
                <ul id="gallery-top">
                </ul>
            </div>
            <div class="guanzhu">
                <h2>么么哒</h2>
                <ul>
                    <img src="{% static 'show/images/wx.jpg' %}">
                </ul>
            </div>
        </div>
        <div class="picsbox">
            <div class="bodymodal"></div>
            <!--播放到第一张图的提示-->
            <div class="firsttop">
                <div class="firsttop_right">
                    <div class="close2"><a class="closebtn1" title="关闭" href="javascript:void(0)"></a></div>
                    <div class="replay">
                        <h2 id="div-end-h2"> 已到第一张图片了。 </h2>
                        <p><a class="replaybtn1" href="javascript:">重新播放</a></p>
                    </div>
                </div>
            </div>
            <!--播放到最后一张图的提示-->
            <div class="endtop">
                <div class="firsttop_right">
                    <div class="close2"><a class="closebtn2" title="关闭" href="javascript:void(0)"></a></div>
                    <div class="replay">
                        <h2 id="H1"> 已到最后一张图片了。 </h2>
                        <p><a class="replaybtn2" href="javascript:;">重新播放</a></p>
                    </div>
                </div>
            </div>
            <!--弹出层结束-->
            <!--图片特效内容开始-->
            <div class="piccontext">
                <h2> {{ gallery_title }}</h2>
                <div class="source">
                    <div class="source_left"><span>{{ album_create_at }}</span></div>
                    <div class="source_right"><a href="javascript:;" class="list">列表查看</a></div>
                    <div class="source_right1"><a href="javascript:;" class="gaoqing">高清查看</a></div>
                </div>
                <!--大图展示-->
                <div class="picshow">
                    <div class="picshowtop"><a href="#">
                        <img src="{{ albums.1.album_img }}" alt="" id="pic1" curindex="0"/>
                    </a> <a id="preArrow"
                            href="javascript:void(0)"
                            class="contextDiv"
                            title="上一张"><span
                            id="preArrow_A"></span></a> <a
                            id="nextArrow" href="javascript:void(0)" class="contextDiv" title="下一张"><span
                            id="nextArrow_A"></span></a>
                    </div>
                    <div class="picshowtxt">
                        <div class="picshowtxt_left"><span>1</span>/<i>{{ gallery_count }}</i>&nbsp;</div>
                        <div class="picshowtxt_right">{{ gallery_title }}</div>
                    </div>
                    <div class="picshowlist">
                        <div class="picshowlist_mid">
                            <div class="picmidleft"><a href="javascript:void(0)" id="preArrow_B"><span
                                    class="sleft"></span></a>
                            </div>
                            <div class="picmidmid">
                                <ul>
                                    {% for foo in albums %}
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="{{ foo.album_img }}" alt="{{ gallery_title }}"
                                                     bigimg="{{ foo.album_img }}"
                                                     text="{{ gallery_title }}"/></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="picmidright"><a href="javascript:void(0)" id="nextArrow_B"><span
                                    class="sright"></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--列表展示-->
                <div class="piclistshow">
                    <ul>
                        {% for foo in albums %}
                            <li>
                                <div class="picimg"><img src="{{ foo.album_img }}" alt="gallery_title"/></div>
                                <div class="pictxt">
                                    <h3>{{ gallery_title }}<span>({{ forloop.counter }}/{{ gallery_count }})</span>
                                    </h3>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="pictext">
                <ul>
                    {{ gallery_comment }}
                </ul>
            </div>
            <div class="share">
                <p class="diggit" id="diggit"><a>
                    很赞哦！ </a>
                    (<b id="diggnum">
                        {{ like_num }}</b>)
                    <script>
                        $(function () {
                            $('#diggit').click(function () {
                                click_like("{% url 'gallery:gallery_like' %}", {{ id }})
                            })
                        });
                    </script>
                </p>
            </div>
        </div>
    </article>

{% endblock %}