{% extends 'show/base.html' %}
{% load cache %}
{% load static %}
{% block css %}
    <link href="{% static 'show/css/info.css' %}" rel="stylesheet">
    <link href="{% static 'show/css/m.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/pygments-css/autumn.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <style>
    .gbko img{
        width: 20px;
        height: 20px;
    }
    </style>
    {#    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">#}
{% endblock %}

{% block js-header %}
    {#    <script src="{% static 'show/js/jquery.min.js' %}" type="text/javascript"></script>#}
    <script src="{% static 'show/js/blog_show.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'show/js/like.js' %}"></script>
    {#    <script src="/static/tiny_mce/tiny_mce.js"></script>#}
    {#    markdown 代码高亮#}
    {#<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>#}
    {#    <script >hljs.initHighlightingOnLoad();</script>#}
{% endblock %}
{% block content %}
    <article>
        {% include 'show/blog_left_box.html' %}
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title" id="article_id" article_id="{{ id }}">{{ article_title }}</h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author">作者：<a>{{ nickname }}</a></li>
                        <li class="lmname">类别：<a
                                href="{% url 'blog:category_tag' 'category' category_id %}">{{ category_title }}</a>
                        </li>
                        <li class="timer">时间：{{ article_create_at }}</li>
                        <li class="view">{{ article_views }}人已阅读</li>
                    </ul>
                </div>
                <div class="tags">
                    {% for foo in tags %}
                        <a href="{% url 'blog:category_tag' 'tag' foo.id %}">
                            {{ foo.tag_title }}</a>
                    {% endfor %}

                </div>

                <div class="news_about">
                    <strong>简介</strong>
                    {{ article_commend }}
                </div>
                <div class="news_con">
                    <div id="article_content"
                         style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box">
                        {{ content | safe }}
                    </div>

                </div>
                <div class="share">
                    <p class="diggit" id="diggit"><a>
                        很赞哦！ </a>(<b id="diggnum">
                        {{ like_num }}

                        <script>
                            $(function () {
                                $('#diggit').click(function () {
                                    click_like("{% url 'blog:blog_like' %}", {{ id }})
                                })
                            });

                        </script>
                    </b>)
                    </p>
                </div>
                <div class="nextinfo">
                    {% if previous %}
                        <p>上一篇：<a href="{% url 'blog:blog_show' previous.id %}">{{ previous.article_title }}</a></p>

                    {% endif %}
                    {% if next %}
                        <p>下一篇：<a href="{% url 'blog:blog_show' next.id %}">{{ next.article_title }}</a></p>

                    {% endif %}
                    <p><a href="{% url 'blog:blog_list' %}">返回文章列表</a></p>
                </div>
                <div class="news_pl">
                    <h2>文章评论</h2>
                    <ul>
                        {% for foo in comment %}
                            <li>
                                <div class="gbko">
                                    ##{{ foo.create_at }}: <p style="text-indent: 50px">{{ foo.info | safe }}</p>
                                    <a class="layui-badge-rim reply" style="cursor:pointer" id="1">回复</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <br>
                    <hr>
                    <button class="layui-btn" id="comment-on">评论</button>

                </div>
            </div>
        </div>
    </article>

    <form class="layui-form" lay-filter="comment-form" id="comment-form" style="display: none">
        <hr>
        <div class="layui-form-item">
            <label class="layui-form-label">回复邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" placeholder="请输入邮箱" lay-verify="email"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <hr>
        <div class="layui-form-text">
            <label class="layui-form-label">留言内容</label>
            <div class="layui-input-block">
                                <textarea placeholder="请输入内容"
                                          style="height: 200px" name="info" class="layui-textarea"
                                          id="layui-edit"></textarea>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="comment"
                    type="button" style="float: right; margin-right: 20px">提交
            </button>
        </div>
    </form>
    <script src="{% static 'show/js/comment.js' %}">

    </script>
{% endblock %}