{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Fashion Error Page a Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href="{% static 'error/css/style.css' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" />
		<script type="application/x-javascript">
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'error/js/jquery-1.11.1.min.js' %}"></script>
</head>
<body>



	<div class="main">
		<div class="agile">
			<div class="agileits_main_grid">
				<div class="agileits_main_grid_left">

					<div class="w3l">
						<div class="text">
							<h1>SamSa</h1>
							<h3>{{ code }}</h3>
							<h2>{{ msg }}.</h2>
							<div class="wthree">
								<div class="back">
									<a href="/">返回首页</a>
								</div>
{#								<div class="social-icons w3agile">#}
{#									<ul>#}
{##}
{#										<li><a href="#" class="facebook"><img src="images/fb.png" title="facebook" alt="facebook"></a></li>#}
{#										<li><a href="#" class="twitter"><img src="images/tw.png" title="twitter" alt="twitter"></a></li>#}
{#										<li><a href="#" class="googleplus"><img src="images/gp.png" title="googleplus" alt="googleplus"></a></li>#}
{#										<div class="clear"></div>#}
{#									</ul>#}
{#								</div>#}
								<div class="clear"></div>
							</div>
{#							<div class="w3ls_form">#}

{#							<h5>STAY TUNED AND DON'T FORGET SIGN UP FOR LATEST UPDATES</h5>#}
{#								<form action="#" method="post">#}
{#									<input type="text" name="Keyword" placeholder="Enter your email here..." required="">#}
{#									<input type="submit" value="Subscribe">#}
{#									<div class="clear"></div>#}
{#								</form>#}
{#							</div>#}
						</div>
					</div>

				</div>
				<div class="agileits_main_grid_right">
					<div class="menu">
						<span class="menu-icon"><a href="/">
                            <img src="{% static 'error/images/menu-icon.png' %}" alt=""></a></span>
							<ul class="nav1">
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Gallery</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
							<!-- script-for-menu -->
							 <script>
							   $( "span.menu-icon" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
							<!-- /script-for-menu -->
					</div>
				</div>
				<div class="clear"> </div>
			</div>

				<div class="footer">
					<p>&copy; SamSa 的博客
                        <a href="/">SamSa</a></p>
				</div>

		</div>
	</div>
</body>
</html>